<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
	package="com.felixwhitesean.classcommapp" >
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
			android:name=".UserInformationSQLite_Activity"
			android:exported="true" >
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.MAIN" />-->

<!--				<category android:name="android.intent.category.LAUNCHER" />-->
<!--			</intent-filter>-->
		</activity>
		<activity
			android:name=".userInfoActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="User Info"
			android:exported="true">
		</activity>
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:exported="true"
            tools:ignore="RedundantLabel">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".SignUpActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="Sign Up"
			android:exported="true">
		</activity>
		<activity
			android:name=".GeneralDashboard"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="Sign Up"
			android:exported="true">
		</activity>
		<activity
			android:name=".Menu"
			android:theme="@style/Theme.App.Transparent"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="Sign Up"
			android:exported="true">
		</activity>
		<activity
			android:name=".LecturerDashboardActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="Sign Up"
			android:exported="true">
		</activity>
		<activity
			android:name=".ScheduleSettings"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="Schedule settings"
			android:exported="true">
		</activity>
		<activity
			android:name=".TestActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="Test page"
			android:exported="true">
		</activity>
		<activity
			android:name=".student_dashboard_general_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="General settings"
			android:exported="true">
		</activity>
		<activity
			android:name=".NotificationsActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="Test page"
			android:exported="true">
		</activity>
		<activity
			android:name=".LoginActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="Log In"
			android:exported="true">
		</activity>
		<activity
			android:name=".Timetable"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="Test page"
			android:exported="true">
		</activity>
		<receiver android:name=".AlarmReceiver"
		/>
	</application>

</manifest>
	
	