<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.felixwhitesean.classcommapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SensorActivity"
            android:exported="true" >
		</activity>
		<activity
			android:name=".userInfoActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="User Info"
			android:exported="true">
		</activity>
		<activity
			android:name=".ClassrepDashboard"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="User Info"
			android:exported="true">
		</activity>
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".UserInformationSQLite_Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Sign Up" />
        <activity
            android:name=".GeneralDashboard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Sign Up" />
        <activity
            android:name=".Menu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Sign Up"
            android:theme="@style/Theme.App.Transparent" />
        <activity
            android:name=".LecturerDashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Sign Up" />
        <activity
            android:name=".ScheduleSettings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Schedule settings" />
        <activity
            android:name=".student_dashboard_general_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="General settings" />
        <activity
            android:name=".NotificationsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Test page" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Log In" />
        <activity
            android:name=".Timetable"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Test page" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>